.relatedproducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625em;
    height: 78vh;
}
.relatedproducts h1 {
    font-size: 3.1em;
    font-weight: 600;
    color: #171717;
}
.relatedproducts-item {
    display: flex;
    gap: 2em;
    margin-top: 3em;
}
.relatedproducts-item img {
    max-width: 100%;
}