.footer {
    display: none;
}

.loginsignup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 90px);
    padding-top: 0;
    background: #fce3fe;
}

.loginsignup-container {
    width: 90%;
    max-width: 30em;
    padding: 2.35em;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loginsignup-container h1 {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.25em;
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    margin-top: 2em;
}

.loginsignup-fields input {
    height: 3em;
    font-size: 1.125em;
    color: #5c5c5c;
    padding-left: 1.25em;
    border: 1px solid #c9c9c9;
    outline: none;
    border-radius: 0.25em;
}

.loginsignup-container button {
    width: 100%;
    height: 3em;
    font-size: 1.5em;
    font-weight: 500;
    color: #fff;
    margin-top: 2em;
    background: #ff4141;
    cursor: pointer;
    border: none;
    border-radius: 0.25em;
}

.loginsignup-login {
    font-size: 0.9em;
    font-weight: 500;
    color: #5c5c5c;
    margin-top: 1.25em;
    text-align: center;
}

.loginsignup-login span {
    font-weight: 600;
    color: #ff4141;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.loginsignup-login span:hover {
    border-color: #ff4141;
    transition: .3s linear;
}

.loginsignup-agree {
    display: flex;
    align-items: center;
    gap: .15em;
    margin-top: 1.5em;
    font-size: 0.75em;
    font-weight: 400;
    color: #5c5c5c;
}